[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/leaguilar/QuantUX/blob/main/notebooks/simulation_data_generation.ipynb)

In [3]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(42)

In [5]:
# 3 latent factors
n = 300
F1 = np.random.normal(size=n)
F2 = np.random.normal(size=n)
F3 = np.random.normal(size=n)

In [6]:
# observed variables (add some noise)
data = pd.DataFrame({
    'x1': 0.8*F1 + np.random.normal(0, 0.4, n),
    'x2': 0.7*F1 + np.random.normal(0, 0.4, n),
    'x3': 0.9*F1 + np.random.normal(0, 0.4, n),
    'x4': 0.8*F2 + np.random.normal(0, 0.4, n),
    'x5': 0.7*F2 + np.random.normal(0, 0.4, n),
    'x6': 0.9*F2 + np.random.normal(0, 0.4, n),
    'x7': 0.8*F3 + np.random.normal(0, 0.4, n),
    'x8': 0.7*F3 + np.random.normal(0, 0.4, n),
    'x9': 0.9*F3 + np.random.normal(0, 0.4, n),
})

In [7]:
data

,x1,x2,x3,x4,x5,x6,x7,x8,x9
0,0.544841,0.397790,0.758387,0.097280,-0.429733,-1.034791,0.760314,-0.233231,0.816711
1,-0.267947,-0.268547,-0.344912,-0.472409,-0.752947,-0.433435,-0.301340,-0.989670,-1.205119
2,0.529649,0.502301,0.255640,0.314472,0.175240,0.453892,1.500593,0.443282,0.869295
3,1.729805,1.283440,1.369377,-0.117190,0.877433,0.440671,1.493994,1.704022,0.809773
4,-0.110883,-0.144363,-0.278812,-0.737977,-0.490396,0.650569,0.430471,0.512026,0.812420
...,...,...,...,...,...,...,...,...,...
295,-0.378138,0.317400,-0.924406,-0.438319,-0.936870,0.113532,0.549960,0.023972,1.042415
296,0.711825,1.454321,0.682018,0.052292,-0.557656,0.189819,-0.030593,0.553575,-0.539758
297,0.466836,0.698456,-0.041841,-1.211754,-1.086718,-1.405775,-0.379333,-0.275503,0.534896
298,0.739855,0.978628,1.161979,-0.976938,-0.228098,-0.151036,1.098878,0.383216,1.220316
299,1.049359,0.677751,0.575191,0.628996,0.291848,0.871144,-0.715652,-0.116929,-0.826233

In [8]:
data.to_csv("../data/synthetic_responses.csv", index=False)